/* FONTS */

@font-face {
    font-family: 'Constan';
    src: url('fonts/constan.ttf');
}

@font-face {
    font-family: 'Constanb';
    font-weight: bold;
    src: url('fonts/constanb.ttf');
}

@font-face {
    font-family: 'Constani';
    font-style: italic;
    src: url('fonts/constani.ttf');
}


* {
    font-family: 'Constan', Helvetica, sans-serif;
    line-height: 1.5;
  }